.container {
    width: 478.5px;
    height: fit-content;
    background-color: #2b2c37;
    position: absolute;
    top: 50%;
    left: 227%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    z-index: 120;
}

.container h4 {
    margin-left: 40px;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 10px;

}

.container form {
    margin: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.container form label {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.5px;
    float: left;
    width: 83%;
}

.container form input {
    background-color: transparent;
    outline: 2px solid #4e5362;
    border: none;
    width: 380px;
    height: 30px;
    border-radius: 5px;
    padding: 0 10px;
    color: #fff;
    margin-top: 5px;
    margin-bottom: 10px;
}

.container form textarea:focus,
.container form input:focus {
    outline: 2px solid #5A5FC7;

}

.container form button {
    color: #5A5FC7;
    background-color: #fff;
    width: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 35px;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 20px;
    text-transform: capitalize;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container form .addbtn:hover {
    background-color: #e2d2f7;
}

.container form .creatbtn {
    color: #fff;
    cursor: pointer;
    background-color: #5A5FC7;
    width: 400px;
    margin-top: 10px;
    height: 35px;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 20px;
    text-transform: capitalize;
    font-size: 16px;
}

.container form .creatbtn:hover {
    background-color: #A8A4FF;
}