:root {
    --background-color: #2b2c37;
    --border-color: #635fc7;
    --checkbox-background: #1c1e1f;
    --text-color: #fff;
    --sub-color: #768295;
}

.container {
    background-color: var(--background-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid var(--border-color);
    color: var(--text-color);
}

.container .title h3 {
    margin: 0;
    font-weight: 600;
}

.container p {
    color: var(--sub-color);
    margin: 15px 0;
}

.checkbox {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.checkbox .input {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

}

.checkbox .input span {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: red;
    background-color: var(--checkbox-background);
    width: 300px;
    height: 40px;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 0 10px;
}

.checkbox .input input {
    margin-right: 10px;
    transform: scale(1.2);
}

.status {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;
}

.status select {
    width: 320px;
    height: 40px;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.title span {
    font-size: 20px;
}

.title span:hover {
    background-color: black;
    color: #fff;
    border-radius: 10px 10px 10px 10px;
}

.ediDel {
    position: absolute;
    left: 390px;
    bottom: 260px;
    z-index: 500;
}